.container {
  height: 500px;
  display: flex;
  align-items: center;
  max-width: 1300px;
  margin: 0 auto;
}

.item_container {
  max-width: 54%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  color: #372e24;
  position: relative;
}

.li {
  display: flex;
  flex-direction: column;
}

.link {
  margin-top: 10px;
  color: #372e24;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 14%;
  margin: 0% 0% 0% 0%;
}

.active {
  color: #c6863f;
}

.title {
  margin-top: 30px;
}

@media (max-width: 510px) {
  .container {
    flex-direction: column;
  }
  .li {
    flex-direction: row;
  }
  .item {
    margin: 0% auto 0% 0%;
    justify-content: flex-start;
    // margin: 0px 0px 10px 20px;
  }
  .link {
    margin: 10px 10% 0px 0px;
  }
  .item_container {
    max-width: 95%;
    align-items: center;
  }
  .text {
    font-size: 26px;
    margin: 8% auto;
  }
}
