.userTitle {
    font-weight: 500;
    font-size: 20px;
    color: #372E24;
    margin-bottom: 50px;
}

.userContent {
    display: flex;
}

.userContentList {
    margin-right: 7%;

}

.userContentItem {
    font-weight: 400;
    font-size: 16px;
    line-height: 45px;
    color: #372E24;
    display: flex;
    p{
        font-weight: 600;
        width: 200px;
    }
}