.container {
  width: 480px;
  height: 700px;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.4s;
  }

  img:hover {
    transform: scale(1.5);
  }
}