
.container {
    max-width: 1300px;
    margin: 0px auto;
}

.header {
    margin: 100px 0px 0px;
    padding: 0px 2.3%;
    text-align: start;
    font-size: 35px;
}

.headerLine {
    width: 95%;
    padding: 0px 20px;
    margin: 20px auto 40px;
}


// ===== Adaptive =====
@media (max-width: 800px) {
    .header {
        margin-top: 70px;
        font-size: 30px;
    }
}

@media (max-width: 500px) {
    .header {
        font-size: 22px;
        text-align: center;
    }
}