.item_container {
  display: flex;
  justify-content: space-between;
  max-width: 1187px;
  margin: 40px auto;
  align-items: center;
  color: #372e24;
}

select {
  border: none;
  width: 250px;
  background: #f1dac5;
  text-align: center;
  height: 40px;
  color: #372e24;
  font-size: 20px;
}

.image {
  width: 100%;
  height: auto;
  object-fit: contain;
}
.btn {
  width: 44%;
  height: 10%;
  display: none;
  position: absolute;
  left: 30%;
  bottom: 18%;
  border-style: none;
  background: #372e24;
  border-radius: 45px;
  color: #f1dac5;
  font-style: normal;
  font-weight: 400;
  font-size: 24.3px;
}

.btn:hover {
  cursor: pointer;
  background: #f1dac5;
  color: #372e24;
}
.item_map:hover {
  .btn {
    display: block;
  }
}

.title_container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1300px;
  margin: 0 auto;
}
.item_map_container {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: px;
  width: 33%;
}

.item_map {
  padding: 20px;

  margin: 1rem;
  text-align: center;
  width: 100%;
  position: relative;
}
