h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    color: #372e24;
}
.products {
    display: flex;
    margin-top: 25px;
    h4 {
        font-size: 14px;
        width: 100%;
        max-width: 145px;

    }
    h5 {
        width: 100%;
        max-width: 90px;
        font-size: 13px;
        margin-left: 10px;
    }
}
