.container {
  width: 100%;
  height: 100%;

  .title {
    margin-bottom: 40px;
  }
}

.input {
  max-width: 550px;
  width: 100%;
  max-height: 90px;
  height: 3em;
  border-radius: 45px;
  text-align: center;
  font-size: 1em;
  border: none;
  background: #DBB593;
  margin: 20px 0;
  outline: none;
  color: #77644F
}

.upload_file {
  width: 500px;
  margin-bottom: 20px;
}

.input_file {
  margin-top: 10px;
}

.submit {
  max-width: 550px;
  width: 100%;
  max-height: 90px;
  height: 3em;
  border-radius: 45px;
  border: none;
  cursor: pointer;
  font-size: 1em;
  background: #372E24;
  color: white;
  margin-top: 30px;
}

