.container {
  width: 100%;
  max-width: 1300px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-around;
}

//@media (max-width: 1200px) {
//  .container {
//    justify-content: space-around;
//  }
//}
