.dropdown {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 1% auto;
  padding: 0% 1% 0% 0%;
}

.container {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  max-width: 1300px;
  margin: 0 auto;
  align-items: flex-end;
}

.content_container {
  display: flex;
  flex-direction: column;
  margin: 2% auto 1% auto;
}

.content_img {
  max-width: 400px;
}
.container_img {
  display: flex;
}

.content {
  display: flex;
  align-items: center;
  line-height: 40px;
}

.fourth {
  display: flex;
  justify-content: space-between;
  width: 129%;
}

.pagination {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

@media (max-width: 1203px) {
  .content_img {
    max-width: 301px;
  }
  .fourth {
    width: 117%;
  }
  .stars {
    width: 12%;
  }
}

@media (max-width: 906px) {
  .content_img {
    max-width: 259px;
  }
  .fourth {
    display: flex;
    justify-content: normal;
  }
  .second {
    font-size: 14px;
    width: 100%;
  }
}
