.container {
    padding: 0 10px;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    h1 {
        margin-top: 20px;
        text-align: center;
    }

    @media (min-width: 425px) {
      .title {
          display: none;
      }
    }

    @media (max-width: 424px) {
        .title {
          margin: 20px auto;
          font-weight: 600;
          font-size: 18px;
          color: #402B1E;
        }
    }
}
