.container {
  height: 500px;
  display: flex;
  justify-content: center;
  max-width: 1300px;
  margin: 0 auto;
}
.item {
  list-style: none;
  line-height: 43px;
  margin: 0 auto;
  max-width: 100%;
}

.item_container {
  display: flex;
  flex-direction: column;
  color: #372e24;
  max-width: 100%;
  margin: auto auto auto 32%;
  align-items: flex-start;
}

.text {
  display: flex;
  justify-content: center;
}

.listItem {
  display: flex;
  a {
    color: #372e24;
    margin-right: 6%;
  }
}

.li_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 14%;
  margin: 0% 0% 0% 0%;
}

@media (max-width: 605px) {
  .item {
    font-size: 12px;
  }
}

@media (max-width: 510px) {
  .item_container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0px 10% 0px 4%;
  }
  .item {
    max-width: 100%;
    margin: 0 0 0 0;
    font-size: 14px;
  }
  .container {
    display: block;
  }
  .text {
    margin: 8% auto;
    font-size: 26px;
  }
  .li_container {
    justify-content: flex-start;
    margin: 0% 0% 0% 0%;
  }
  .decoration {
    margin-top: 11%;
    line-height: 2px;
  }
}
