.container {
    margin: 3%;
    width: 100%;

    .main_top {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    
        .backPage {
            display: flex;
            align-items: center;
            margin-bottom: 150px;
    
            .goBackIcon {
                margin-right: 8px;
            }
            
            .goBackText {
                font-weight: 300;
                font-size: 18px;
                color: #372e24;
            } 
        }
    }
}




  

 

