@import "../../../../scss/mixin";
@import "../../../../scss/settings";

.select {
  position: relative;
  display: inline-block;
  margin-bottom: 15px;
  height: toD(75px);

  width: 100%;
}
//.select select {
//       font-family: 'Arial';
//       display: inline-block;
//       width: 100%;
//       cursor: pointer;
//       padding: 10px 15px;
//       outline: 0;
//       border: 0px solid #000000;
//       border-radius: 47px;
//       background: #e6e6e6;
//       color: #7b7b7b;
//       appearance: none;
//       -webkit-appearance: none;
//       -moz-appearance: none;
//     }
//.select select::-ms-expand {
//  display: none;
//}
//.select select:hover,
//.select select:focus {
//  color: #000000;
//  background: #cccccc;
//}
//.select select:disabled {
//  opacity: 0.3;
//  pointer-events: none;
//}
//.select_arrow {
//  position: absolute;
//  top: 16px;
//  right: 15px;
//  pointer-events: none;
//  border-style: solid;
//  border-width: 8px 5px 0px 5px;
//  border-color: #7b7b7b transparent transparent transparent;
//}
//.select select:hover ~ .select_arrow,
//.select select:focus ~ .select_arrow {
//  border-top-color: #000000;
//}
//.select select:disabled ~ .select_arrow {
//  border-top-color: #cccccc;
//}