@use "./src/utils/styles/variables";

.button {
  width: 90%;
  height: calc(60px);
  background: variables.$yellow;
  color: variables.$brown;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  border-radius: 45px;
  border-style: none;
  margin-top: 5%;
  cursor: pointer;

  @media (max-width: 1000px) {
    height: 50px;
    font-size: 18px;
    margin-top: 2%;
  }

  @media (max-width: 900px) {
    width: 70%;
  }

  @media (max-width: 768px) {
    font-size: 16px;
  }

  @media (max-width: 600px) {
    font-size: 14px;
  }

  @media (max-width: 425px) {
    font-size: 13px;
  }
}

.button:hover {
  background: variables.$brown;
  color: variables.$yellow;
  transition: .7s;
}