.container {
  width: 390px;
}

.content {
  width: 100%;
  height: 67px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  /* identical to box height */


  color: #372E24;
}