.title1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  color: #372e24;
  max-width: 55%;
  margin: 75px auto 13px auto;
}
.title_text {
  margin-bottom: 25px;
}

.photo1 {
  display: flex;
  justify-content: center;
}

.photo_img {
  width: 90%;
}

.block2 {
  margin: 30px auto;
}

.title2 {
  display: flex;
  flex-direction: column;
  max-width: 77%;
  text-align: justify;
  margin: 0 auto;
  color: #372e24;
}
.description2 {
  margin: 20px auto;
}

.img_container2 {
  display: flex;
  justify-content: center;
  margin: 30 auto;
}

.img_left {
  width: 43%;
  height: 50%;
  margin-right: 39px;
}

.img_right {
  width: 43%;
  height: 40%;
}

.title3 {
  display: flex;
  flex-direction: column;
  max-width: 78%;
  text-align: justify;
  margin: 0 auto 40px auto;
  color: #372e24;
}

.description3 {
  margin-top: 20px;
}

.img_container3 {
  max-width: 90%;
  display: flex;
  flex-direction: column;
  margin: 0px auto 40px auto;
}

.img_content {
  margin-bottom: 50px;
}

.title4 {
  display: flex;
  flex-direction: column;
  max-width: 85%;
  text-align: justify;
  margin: 0 auto 40px auto;
  text-align: justify;
  height: 197px;
  color: #372e24;
}

.description4 {
  margin-top: 20px;
}

@media (max-width: 480px) {
  .title1 {
    max-width: 95%;
  }
  .photo_img {
    width: 100%;
  }
  .description1 {
    font-size: 12px;
  }
  .description2 {
    font-size: 12px;
  }
  .description3 {
    font-size: 12px;
  }
  .description4 {
    font-size: 12px;
  }
  .title2 {
    align-items: center;
    max-width: 97%;
  }

  .img_container2 {
    flex-direction: column;
  }
  .img_left {
    width: 100%;
  }
  .img_right {
    width: 100%;
  }

  .title3 {
    align-items: center;
    max-width: 90%;
  }
  .img_container3 {
    max-width: 100%;
  }
  .img_content {
    margin-bottom: 20px;
  }
  .title4 {
    max-width: 98%;
    text-align: start;
    align-items: center;
  }
}

.text_font {
  font-weight: 500;
}
