@import "../../scss/mixin";
@import "../../scss/settings";

.container{
  width: 100%;
  padding: 0 13px 0 13px;
}
.content{
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}
.flex{
  display: flex;
  justify-content: space-between;
  gap: 0 toD(64px);
  @include phone{
    gap: 0;
    flex-direction: column;
    justify-content: center;
  }
  @include desktop {
    gap: toMax(64px);
  }
}
.order{
  width: 100%;
}
.header{
@include titleFont()
}
.form{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 toD(113px);
  padding-top: toD(29px);
  margin-top: toD(20px);
  border-top: 0.5px solid $fontColorTitle;
  @include desktop{
    padding-top: toMax(29px);
    gap: 0 toMax(113px);
    margin-top: toMax(20px);
  }
  @include phone{
    border-top: 0;
    padding-top: toM(20px);
    grid-template-columns: 1fr ;
    margin-top: 0;
    gap: 0;
  }

}
.inputBlock{
  display: flex;
  flex-direction: column;
  height: toD(127px);
  @include desktop{
    height: toMax(127px);
  }
  @include phone{
    height: toM(70px);
  }

}
.input{
  border-radius: 45px;
  background-color: $primaryColor;
  border: none;
  width: 100%;
  height: toD(75px);
  padding: toD(23px) 0 toD(23px) toD(48px);
  @include desktop{
    height: toD(75px);
  }
  @include phone{
    height: toM(43px);
  }
}
.input::placeholder{
   @include fontSize($desk:24px,$m:16px,$t:16px)
}
.warning{
  margin-left: 5%;
  margin-top: 1%;
  color: $errorColor;
  margin-bottom: toD(10px);
  height: toD(50px);
  @include fontSize($desk:24px,$m:16px,$t:16px);

  @include phone {
    margin-bottom: toM(10px);
    //height: toM(40px);
  }
  @include desktop{
    margin-bottom: toMax(10px);
    //height: toMax(50px);
  }

}






