.logo {
    font-family: 'arizonia';
    position: relative;
    font-size: 30px;

    img {
        position: absolute;
        top: -21px;
        left: 110px;
        width: 69px;
        height: 100px;
    }
}