.logo {
    font-family: 'arizonia';
    position: relative;
    font-size: 30px;

    img {
        position: absolute;
        top: -35%;
        left: 79%;
        width: 72px;
        height: 90px;
        z-index: 20;
    }
}