.container {
  max-width: 850px;
  display: flex;
  margin-top: 30px;
  justify-content: space-between;
  background: #F1DAC5;
  padding: 30px 20px;

  .block {
    display: flex;
  }


  .image_hero {

    margin-right: 10px;

    img {
      max-width: 170px;
      max-height: 240px;
      width: 100%;
      height: 100%;

    }
  }

  .text_block {

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    p {
      margin-bottom: 10px;
      color: #372E24;
      font-size: 18px;
    }

    .name_area {
      font-weight: 300;
      margin-right: 5px;
    }
  }


  .counter{
    display: flex;


    button{
      width: 60px;
      height:60px;
      color:#372E24;

      background: #DBB593;
border-radius: 45px;
border: none;
font-size: 50px;
margin: 0 20px;
cursor:pointer;
    }

    div{
      font-size: 45px;
      width: 60px;
      height:60px;
      line-height: 60px;
      background: #372E24;
border-radius: 45px;
text-align: center;
color:#F1DAC5
    }
  }

  .block_price{

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    img{
      width: 40px;
      height: 40px;
      cursor:pointer
    }

    div :first-child{
      font-weight: 400;
      font-size: 2em;
    }
    div :last-child{
      font-weight: 300;
      font-size: 1.5em;
      text-decoration: line-through;
      text-align: end;
    }
  }

}

// @media(max-width:900px){
//   .container{
//     margin-left:10px ;
//     margin-right: 10px;

//   }
// }