@import "../../scss/mixin";
.container {
  width: 100%;
  padding: 0 13px 0 13px;
}

.content {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}

.advantagesContainer {
  margin: 0 auto;
  background-color: #f1dac5;
}
