@use './src/utils/styles/variables';

.container {
  width: 100%;
  padding-right: 8%;
  margin-bottom: 5%;

  div {
    margin-bottom: 10px;
  }

  span {
    font-size: variables.$span-font-size-big;
    font-style: normal;
    font-weight: 350;
    color: #372E24;
  }

  @media (max-width: 980px) {
    span {
      font-size: 18px;
    }
  }

  @media (max-width: 768px) {
    span {

      font-size: variables.$span-font-size-medium;
    }
  }

  @media (max-width: 425px) {
    span {

      font-size: variables.$span-font-size-small;
    }
  }

  .title {
    width: 100%;

    h3 {
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 27px;
      color: #372E24;
    }
  }

  .article {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    div:nth-child(1) {
      span:nth-child(1) {
        margin-right: 20px;
      }
    }


    .like_icon {
      width: 25px;
      height: 28px;

      img {
        width: 100%;
        height: auto;
      }
    }


  }

  .quantity {
    width: 100%;

    span:nth-child(1) {
      margin-right: 5px;
    }
  }

  .price {

    display: flex;
    align-items: center;

    span:nth-child(1) {
      font-style: normal;
      font-weight: 500;
      font-size: 23px;
      line-height: 28px;
      color: #372E24;
      margin-right: 5%;
    }

    span:nth-child(2) {
      text-decoration: line-through;
    }
  }

  .information {
    div {
      display: flex;
      justify-content: space-between;

      span {
        span:nth-child(1) {
          margin-right: 10%;
        }
      }
    }
  }
}

