
.infoBlock {
    margin: 50px 0px;
    display: flex;
    justify-content: space-between;
}

.infoBlockLeft {
    display: flex;
    align-items: center;
}

.infoOrder {
    margin-right: 25px;
    font-weight: 500;
    font-size: 20px;
    color: #372E24;
}

.infoStatus {
    font-weight: 300;
    font-size: 20px;
    color: #6A5844;
}

.infoDate {
    font-weight: 400;
    font-size: 20px;
    color: #372E24;
}

.contentBlock img {
    display: flex;
    justify-content: space-between; 
    align-items: flex-end;
    width: 200px;
    height: 290px;
}

.contentBlock {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.contentBlockList {
    display: flex;
}

.contentBlockList li {
    list-style-type: none;
    display: flex;
}

.contentBlockImg {
    margin-right: 8px;
}

.contentBlockImgPlus {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    font-size: 48px;
    color: #372E24;
    
    width: 200px;
    height: 290px;
    background: #F1DAC5;
}

.contentBlockPrice {
    font-weight: 400;
    font-size: 26px;
    color: #372E24;
}



// ===== Adaptive =====
@media (max-width: 970px) {
    .contentBlockImg,
    .contentBlockImgPlus,
    .contentBlock img {
        width: 180px;
        height: 260px;
    }
}

@media (max-width: 890px) {
    .contentBlockImg,
    .contentBlockImgPlus, 
    .contentBlock img {
        width: 160px;
        height: 230px;
    }

    .contentBlockImgPlus {
        font-size: 36px;
    }
}

@media (max-width: 810px) {
    .contentBlockImg,
    .contentBlockImgPlus,  
    .contentBlock img {
        width: 140px;
        height: 200px;
        font-size: 35px;
    }

    .infoBlock {
        margin: 30px 0px;
    }

    .infoOrder,
    .infoStatus,
    .infoDate {
        font-size: 14px;
    }

    .contentBlockPrice {
        font-size: 18px;
    }
}

@media (max-width: 715px) {
    .contentBlockImg,
    .contentBlockImgPlus,   
    .contentBlock img {
        width: 120px;
        height: 180px;
    }

    .contentBlockImgPlus {
        font-size: 30px;
    }

    .infoOrder,
    .infoStatus,
    .infoDate {
        font-size: 16px;
    }

    .contentBlockPrice {
        font-size: 18px;
        font-weight: 400;
    }
}

@media (max-width: 650px) {
    .contentBlockImg,
    .contentBlockImgPlus,   
    .contentBlock img {
        width: 84px;
        height: 114px;
    }

    .contentBlockImgPlus {
        font-weight: 300;
        font-size: 16px;
    }

    .infoOrder {
        font-weight: 500;
        font-size: 14px;
    }

    .infoStatus {
        font-weight: 300;
        font-size: 14px;
    }

    .infoDate {
        font-weight: 400;
        font-size: 14px;
    }
}

@media (max-width: 500px) {
    .contentBlock {
        display: block;
    }

    .contentBlockPrice {
        margin-top: 20px;
        display: flex;
        justify-content: flex-end;
    }
}

@media (max-width: 386px) {
    .contentBlockImg,
    .contentBlockImgPlus,   
    .contentBlock img {
        width: 63px;
        height: 87px;
    }

    .contentBlockImgPlus {
        font-size: 12px;
    }

    .infoOrder,
    .infoStatus,
    .infoDate {
        font-size: 12px;
    }

    .contentBlockPrice {
        font-size: 13px;
    }
}