@import "../../../../scss/mixin";
@import "../../../../scss/settings";

.container {
    display: flex;
    width: 100%;
    //height: 308px;
    background-color: $primaryColor;
    padding: toD(40px) toD(44px) toD(40px) toD(30px);
    gap: 0 toD(29px);

    @include desktop {
        gap: 0 toMax(29px);
        padding: toMax(40px) toMax(44px) toMax(40px) toMax(30px);
    }

    @include phone {
        padding: toM(15px);
        height: 200px;
        gap: 0 toM(10px);
    }
}

.header {
    display: flex;
    margin: 6% auto 2%;
}

.title {
    margin-right: 4%;
    font-weight: 400;
    color: #372E24;
}

.status {
    display: flex;
    align-items: flex-end;
    font-weight: 300;
    color: #6A5844;
}

.title,
.footerTitle,
.footerText,
.status {
    font-weight: 400;
    @include fontSize($desk: 36px, $m: 14px);
}

.footerTitle {
    font-weight: 500;
    @include fontSize($desk: 28px, $m: 14px);
}

.footerText {
    font-weight: 300;
    @include fontSize($desk: 28px, $m: 14px);
}


.footer {
    @include phone{
        width: 100%;
    }
    margin: 30px 0px 15%;
    width: toD(1200px);
    display: flex;
    @include desktop{
        width: toMax(1200px); 
    }
}

.footerContent {
    display: flex;
    flex-direction: column;
    margin-right: 50px;
}


