.container {
  width: 100%;
}

.title {
  width: 100%;
  margin-bottom: 15px;

  h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 23px;
    line-height: 29px;
  }
}

.categories {
  ul {
    list-style: none;

    li {
      margin-bottom: 15px;

      ul {
        margin-left: 15px;
      }
    }

    .nested_ul {
      display: none;
    }
  }
}

