.mainBlock {
    height: 90px;
    width: 100%;
    background-color: #ECCFB5;
    padding-top: 10px;
    position: relative;

    a {

        color: #372E24
    }
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    max-width: 1300px;
    margin: 0 auto;

}

.mainBlock_navbar {
    display: flex;
    list-style-type: none;
    max-width: 626px;
    width: 35vw;
    justify-content: space-between;

    font-weight: 400;
    font-size: 20px;
    min-width: 471px;
    margin-right: 10px;
    margin-left: 30px;

    li {
        cursor: pointer;
    }
    li:hover{
        font-weight: 500;
    }
}

.icons {
    max-width: 220px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    min-width: 122px;

    img{
        width: 25px;
        height: 25px;
        
        min-height: 20px;
        min-width: 20px;
    }

    img:hover {

        filter: invert(62%) sepia(21%) saturate(5392%) hue-rotate(82deg) brightness(93%) contrast(85%);
    }

}

.burgerMenu{
    display: none;
}

@media(max-width:1300px){
    .mainBlock{
        padding-left: 1vw;
        padding-right: 1vw;

    }
}

@media(max-width:900px){

    .mainBlock_navbar{
        font-size: 16px;
        min-width: 400px;
    }

    .icons{
        min-width: 100px;
        max-width: 150px;
        img{
            height: 20px;
            width: 20px;
        }
    }


}

@media(max-width:767px){
    .burgerMenu{
        display: block;
        margin-right: 2vw;
    }

    .mainBlock_navbar{
        display: none;
    }
    .burgerMenu_logo{
        display: flex;
    }
}