@import "../../../../scss/mixin";
@import "../../../../scss/settings";

.container {
  display: flex;
  width: 100%;
  background-color: $primaryColor;
  padding: toD(40px) toD(44px) toD(40px) toD(30px);
  gap:0 toD(29px);

  @include desktop {
    gap:0 toMax(29px);
    padding: toMax(40px) toMax(44px) toMax(40px) toMax(30px);
  }

  @include phone {
    padding: toM(15px); 
    height: 200px;
    gap:0 toM(10px);
  }
}

.myOrdersContainer {
  display: flex;
  width: 100%;
  border-bottom: 1px solid $fontColorTitle;
  padding: toD(32px) toD(0px) ;
  gap:0 toD(29px);

  @include desktop {
    gap:0 toMax(20px);
    padding: toMax(32px) toMax(0px) ;
  }

  @include phone {
    gap:0 toM(10px);
    padding: toM(0px);
    border: none;
  }
}

.img {
  width: toD(320px);
  @include phone{
    width: toM(100px);
    margin-bottom: 5%;
  }

  @include desktop{
    width: toMax(320px);
  }
}

.block {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.infoBlock {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.infoBlockText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.title {
  font-weight: 400;
  @include fontSize($desk:28px, $m:12px)
}

.text {
  @include fontSize(20px, 10px);
  color: $fadedFont;
  margin-top: toD(14px);

  @include desktop{
    margin-top: toMax(14px);
  }

  @include phone{
    margin-top: toM(5px);
  }
}

.text span {
  color: $fontColorTitle;
  @include fontSize(20px, 10px)
}

.control {
  display: flex;
  gap: toD(24px);
  margin-top: toD(44px);

  @include desktop{
    gap: toMax(24px);
    margin-top: toMax(44px);
  }

  @include phone{
    gap: toM(4.54px);
    margin-top: toM(20px);
  }
}

.minus, .plus,
.count,.cross {
  display: flex;
  justify-content: center;
  align-items: center;
  width: toD(80px);
  height: toD(80px);
  background-color: #DBB593;
  border-radius: 50%;
  @include fontSize(60px,30px);

  @include desktop {
    width: toMax(80px);
    height: toMax(80px);
  }

  @include phone {
    width: toM(31px);
    height: toM(31px);
  }
}

.count {
  background-color: $fontColorTitle;
  color: $primaryColor;
  @include fontSize(40px,14px)
}

.rightSection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.priceBlock {
  text-align: right;
}

.realPrice {
  @include fontSize(48px, 17px)
}

.wrongPrice {
  @include fontSize(32px, 16px);
  text-decoration: line-through;
  @include phone{
    display: none;
  }
}

.cross {
  background: none;
  border:toD(4px) solid $fontColorTitle;
  font-weight: 500;
  transform: rotateZ(45deg);
}